/* Reset */  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li{
    margin: 3rem;
  }

  a {
    display: block;
    position: relative;
    text-decoration: none;
   
  }
  
  /* Fade in */
  a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 6%;
    height: 0.1em;
    background-color: red;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  a:hover::after,
  a:focus::after {
    opacity: 1;
  }
  
  /* exo2 */
  li:nth-child(2) a {
    overflow:auto
  }
  
  li:nth-child(2) a::after {
    opacity:  1;
    transform: translate3d(-100%, 0, 0);
  }
  
  li:nth-child(2) a:hover::after,
  li:nth-child(2) a:focus::after{
    transform: translate3d(0, 0, 0);
    transition: 2s;
  }
  
  /* exo3 */
  li:nth-child(3) a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }
  
  li:nth-child(3) a:hover::after,
  li:nth-child(3) a:focus::after{
    transform: scale(1);
    transition: 2s;
  }

  /* exo */
  li:nth-child(4) a:hover::after,
  li:nth-child(4) a:focus::after{
    position: relative;
    border-width: 2px;
    border-color: red;
    color: red;
    background-color: transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
    transition: all 0.3s;
    background: red;
    content: '';
    position:absolute ;
    z-index: -1;
    width: 6%;
    height:100%;
  }
  




